{% extends 'base.html' %}

{% block title %}Inicio de Sesion de Usuarios Registrados{% endblock %}

{% block content %} 
<h1>Iniciar Sesion</h1>

<form action="" method="POST" novalidate>
    
    {{ form.hidden_tag() }}

    <div class="">
        {{form.email.label}} <br>
        {{form.email(size=32)}}

        {% if form.email.errors %}
         {% for error in form.email.errors %}
          <span class="text-danger"> {{ error }}</span>
         {% endfor %}
        {% endif %}

    </div>

    <div class="mb-3">
        {{form.contraseña.label}} <br>
        {{form.contraseña(size=32)}} 

        {% if form.email.errors %}
         {% for error in form.email.errors %}
          <span class="text-danger"> {{ error }}</span>
         {% endfor %}
        {% endif %}
    </div>

    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<a href="{{url_for('registro.registro')}}">¿No tienes un cuenta? Registrate!!</a>


{% endblock %}
    
    
