{% extends 'base.html' %}

{% block title %}Panel de control de Mesero{% endblock %}

{% block content %}
 <h1 class="fw-bold">Panel de control de Pedidos- Mesero</h1>

 {% if current_user.is_authenticated %}
  <p class="fw-bold">Bienvenid@ {{current_user.nombre}}</p> 
 {% else %}
  <a href="{{url_for('login.login')}}">Inicie Sesion</a>
 {% endblock %}
 {% endif %}

 <div class="mt-3"></div>
 <a href="{{url_for('logout.logout')}}">Cerrar Sesion</a>
 <a href="{{url_for('cajero.cajero')}}">Gestion de Caja</a>
 {% endblock %}